.ex-1-square{
transition: background-color 4s

}

.ex-1-square:hover{
    background-color: red;
    cursor: pointer;
}

.ex-2-square{
    transition: width 2s;
}

.ex-2-square:hover{
    width:100%
}

.ex-3-square {
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    transition: opacity 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: all 2s;
} 

.ex-5-square:hover{
    width: 200px;
    height: 200px;

} 

.ex-5-square:active{
    width: 50px;
    height: 50px;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    transition: filter 2s;
} 

.ex-7-img:hover{
    filter: grayscale(100%);
}







